body,html{
    margin: 0;
    font-family: arial,sans-serif;
    font-size: small;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    background-color: white;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 13px;
    text-align: right;
    font-size: 13px;
    color: #222;
}

.gmail{
    outline: none;
    vertical-align: middle;
    text-decoration: none;
}
.img{
    padding-left: 15px;
    vertical-align: middle;
    text-decoration: none;
}
.logo_signup{
    display: flex;
    flex: 0 1 auto;
    position: relative;
    white-space: nowrap;
    text-align: left;   
}

.logo_signup .bars {
    margin-right: 20px;
    margin-left: 20px;
}

.signin button{
    background: #4484f2;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
}

.header a{
    color: black;
    text-decoration: none;
}


.body{
    background-color:white;
    flex: 10;
    padding-top: 109px;
    width: 272;
    height: 92px;
}

.searchbox{
    margin-top: 20px;
    position: relative;
}

input{
    
    width: 580px;
    height: 35px;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding:5px;
    font-size: 16px;
}

.searchbox img{
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;    
}

.btn{
    padding-top: 15px;
}


.btn1{
    margin: 0 5px;
    padding:12px 20px;
    color: #555;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
    border: none;
    width: auto;
    background-color: #f2f2f2;
    height: 40px;
}

.btn1:hover{
    border: 1px solid #ccc;
}
/*
.btn1.btn2{
height: 40px;
width: auto;
color: #646464;
background-color: #f2f2f2;
border: 1px solid transparent;
outline: none;
cursor: pointer;
margin: 15px;
padding:12px 20px;
}

.btn1:hover{
    color: #373737;
    background: #d3d3d3;
    border: .5px solid lightgrey;
}
.btn2:hover{
    color: #373737;
    background: #d3d3d3;
    border: .5px solid lightgrey;
}
*/

.lang a{
    padding: 0 3px;
    cursor: pointer;
    line-height: 28px;
    text-decoration: none;
    color: 	#001fcf;
}


.lang a:hover, a:active {
    text-decoration: underline;
}


.footer{
    background-color: #f2f2f2;
    flex: 1.9;
    line-height: 40px;
    color: rgba(0,0,0,.54);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-around
}
.btm-row1{
    padding-left:27px;
    border-top:1px solid rgba(0,0,0,0.05)
}
.btm-row2{
    display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:flex-start;
            border-top:1px solid rgba(0,0,0,0.05)
}

.bottom-right{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.bottom-right div{
    padding-right: 27px;
}